{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",

    "KEYVAULT_URI": "https://<your-vault>.vault.azure.net/",
    "STORAGE_ACCOUNT_NAME": "<your-storage-account>",
    "PROJECTS_TABLE_NAME": "projects",
    "CACHE_TTL_S": "300",

    "ALLOWED_TENANT_ID": ""
  },
  "Host": {
    "CORS": "*"
  }
}
