{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "ADO_ORG": "YourOrgName",
    "ADO_PROJECT": "Your Project Name",
    "ADO_PAT": "your-pat-here",
    "CACHE_TTL_S": "300",
    "ADMIN_SECRET": ""
  },
  "Host": {
    "CORS": "*"
  }
}
